@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/Template.cshtml";
}

<a class="btn btn-info" asp-area="" asp-controller="Trainee" asp-action="Login"> CLick for Trainee Login</a><br />
<br />
<br />

  <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Login">Click for Admin Login</a>
  <br />
<br />

<h1>****Trainee  Maintainance  Portal****  <b>$$$$KUMARAN SYSTEM PRIVATE LTD$$$$</b></h1>

